@model IEnumerable<Mexpressapp.Models.Veiculo>

@if (Model != null && Model.Any())
{
	<h1>Bem-vindo ao Mexpressapp!</h1>
}
else
{
	<h1>Nenhum veiculo disponivel no momento.</h1>
}

<h2>
	Veiculos disponiveis
</h2>

<table>
    <tr>
        <td>Marca</td>
        <td>Modelo</td>
		<td>Ano</td>
		<td>Placa</td>
        <td>Cinlidrada</td>
		<td>Cavalos</td>
		<td>Valor Diaria</td>
		<td>Km rodados</td>
		<td>Disponivel</td>
    </tr>

	@foreach (var v in Model ?? Enumerable.Empty<Mexpressapp.Models.Veiculo>())
	{
		<tr>
			<td>@v.Marca</td>
			<td>@v.Modelo</td>
			<td>@v.Ano</td>
			<td>@v.Placa</td>
			<td>@v.Cinlidrada</td>
			<td>@v.Cavalos</td>
			<td>@v.Preçodia</td>
			<td>@v.Kmrodados</td>
			<td>@(v.Disponivel ? "Sim" : "Nao")</td>
		</tr>
	}
</table>